.mainPresenter {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  @media (max-width: 414px) {
    width: 90%;
  }
  position: relative;
  .SearchBar {
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 414px) {
      position: static;
    }
  }
}
