.mainPresenter {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  @media (max-width: 414px) {
    width: 90%;
  }
  .head {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f2;
    h1 {
      margin-left: 20px;
    }
    .SearchBar {
      margin-top: 20px;
      margin-right: 20px;
    }
  }

  .main-wrapper {
    padding-left: 10%;
    @media (max-width: 414px) {
      padding-left: 5%;
    }
    .menulist {
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      justify-items: center;
      align-items: center;
    }
  }
}
