.mainPresenter {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  @media (max-width: 414px) {
    width: 90%;
  }
  .head {
    display: flex;
    justify-content: space-between;
    .SearchBar {
      margin-top: 20px;
    }
  }
}
