@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
  }
  75% {
    transform: rotate(0deg);
  }
}
@keyframes rotate3 {
  0% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: center;
    transform: rotate(360deg);
  }
}

@keyframes finish {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes finish2 {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

.myorder-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 150px;
  min-height: 200px;
  width: 60vh;
  height: 80vh;
  margin-bottom: 50px;

  .refresh-button {
    position: absolute;
    top: 60px;
    right: 50px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;

    :hover {
      animation: rotate3 1s infinite;
    }
  }
  .myorder-card-deleting-container {
    position: absolute;
    min-width: 400px;
    min-height: 200px;
    width: 30vw;
    height: 80vh;
    .myorder-card-deleting {
      @keyframes fadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      width: 104%;
      height: 92%;
      min-height: 210px;
      position: absolute;
      border-radius: 15px;
      border: none;
      transition: all 1s ease-in-out;
      animation: fadein 2s infinite;
      animation-fill-mode: both;
      filter: blur(8px);
      opacity: 1;
    }
    .myorder-card-deleting:nth-child(1) {
      background-color: #fe6600;
      left: -2%;
      top: 2%;
      z-index: 6;
    }
    .myorder-card-deleting:nth-child(2) {
      width: 102%;

      left: -1%;
      top: 3%;
      z-index: 7;
      background-color: black;
    }
    .myorder-card-deleting:nth-child(3) {
      width: 115%;
      height: 98%;
      left: -8%;
      top: 2%;
      z-index: 5;
      background-color: #f6e58d;
    }
    .myorder-card-deleting:nth-child(4) {
      width: 100.5%;
      height: 96%;
      left: -0.5%;
      top: 3%;
      z-index: 9;
      background-color: white;
    }
    @keyframes rotate3 {
      0% {
        transform-origin: center;
        transform: rotate(0deg);
      }
      100% {
        transform-origin: center;
        transform: rotate(360deg);
      }
    }
    @keyframes fly {
      0% {
        opacity: 0.8;
      }
      100% {
        opacity: 0;
        transform: translate(8rem, 7rem);
      }
    }
    @keyframes fly2 {
      0% {
        opacity: 0.8;
      }
      100% {
        opacity: 0;
        transform: translate(-7rem, -7rem);
      }
    }
    @keyframes fly3 {
      0% {
        opacity: 0.8;
      }
      100% {
        opacity: 0;
        transform: translate(-9rem, 10rem);
      }
    }
    @keyframes fly4 {
      0% {
        opacity: 0.8;
      }
      100% {
        opacity: 0;
        transform: translate(8rem, 8rem);
      }
    }
    @keyframes fly5 {
      0% {
        opacity: 0.8;
      }
      100% {
        opacity: 0;
        transform: translate(-3rem, 8rem);
      }
    }
    @keyframes fly6 {
      0% {
        opacity: 0.8;
      }
      100% {
        opacity: 0;
        transform: translate(5rem, -5rem);
      }
    }

    .butterfly {
      opacity: 0;
      z-index: 50;
      position: absolute;
      width: 10%;
      overflow: hidden;
      top: 30%;
      left: 45%;
    }
    .butterfly:nth-child(5) {
      animation: fly 2s infinite;
      animation-delay: 2s;
    }
    .butterfly:nth-child(6) {
      animation: fly2 2s infinite;
      animation-delay: 2s;
    }
    .butterfly:nth-child(7) {
      animation: fly3 2s infinite;
      animation-delay: 2s;
    }
    .butterfly:nth-child(8) {
      animation: fly4 2s infinite;
      animation-delay: 2s;
    }
    .butterfly:nth-child(9) {
      animation: fly5 2s infinite;
      animation-delay: 2s;
    }
    .butterfly:nth-child(10) {
      animation: fly6 2s infinite;
      animation-delay: 2s;
    }
    .magiccircle {
      position: relative;
      width: 90%;
      right: -4%;
      top: 10%;
      z-index: 10;
      animation: rotate3 4s infinite;
    }
  }

  .myorder-card-fadeout {
    @keyframes fadeout {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0.1;
      }
    }
    animation: fadeout 4s infinite;
  }
  .myorder-card {
    position: relative;
    z-index: 10;
    min-width: 400px;
    min-height: 200px;
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: #f7f5ef;
    // border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding-top: 30px;

    @keyframes blink {
      0% {
        color: red;
        opacity: 0.2;
      }
      50% {
        color: red;
        opacity: 1;
      }
      100% {
        color: red;
        opacity: 0.2;
      }
    }
    .myorder-card-status-cloud {
      position: absolute;
      background-color: transparent;
      width: 100%;
      height: 50%;
      top: 8%;
      @keyframes showUp1 {
        0% {
          top: 20%;
          left: 30%;
        }

        50% {
          top: 50%;
          left: 30%;
        }

        100% {
          transform: scale(1.3);
          top: 10%;
          left: 20%;
        }
      }
      @keyframes showUp2 {
        0% {
          top: 40%;
          left: 20%;
        }

        50% {
          top: 10%;
          left: 50%;
        }

        100% {
          transform: scale(1.2);
          top: 50%;
          left: 10%;
        }
      }
      @keyframes showUp3 {
        0% {
          top: 40%;
          left: 20%;
        }

        50% {
          top: 10%;
          left: 20%;
        }

        100% {
          transform: scale(1.2);
          top: 50%;
          left: 50%;
        }
      }
      .cloud:nth-child(1) {
        position: absolute;
        animation: showUp1 3s infinite;
        top: 50%;
        left: 20%;
        z-index: 30;
        width: 165px;
        height: 110px;
        background-size: cover;
        background-image: url('https://cdn.pixabay.com/photo/2012/04/25/00/02/cloud-41256_1280.png');
      }
      .cloud:nth-child(2) {
        position: absolute;
        animation: showUp2 3s infinite;
        z-index: 30;
        top: 20%;
        right: 20%;
        width: 165px;
        height: 110px;
        background-size: cover;
        background-image: url('https://cdn.pixabay.com/photo/2012/04/25/00/02/cloud-41256_1280.png');
      }
      .cloud:nth-child(3) {
        position: absolute;
        animation: showUp3 3s infinite;
        z-index: 30;
        width: 165px;
        height: 110px;
        background-size: cover;
        background-image: url('https://cdn.pixabay.com/photo/2012/04/25/00/02/cloud-41256_1280.png');
      }
    }
    .myorder-status {
      color: rgba(255, 255, 255, 0.8);
      font-size: 2rem;
      animation: shake 1s infinite;
      position: relative;
      top: -60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 250px;
      margin-bottom: 0px;
      border-radius: 100%;
      .myorder-status-image {
        transform: rotate(-5deg);
        height: 100%;
      }
    }

    .myorder-status-finish {
      color: rgba(255, 255, 255, 0.8);
      font-size: 2rem;
      position: relative;
      top: -60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 250px;
      margin-bottom: 0px;
      border-radius: 100%;
      .myorder-status-image-finish {
        transform: rotate(-5deg);
        height: 100%;
        z-index: 10;
        animation: finish 3s infinite;
      }
      .myorder-status-ball-finish {
        position: absolute;
        border: 1px solid #ec6725;
        border-radius: 50%;
        height: 120%;
        width: 120%;
        z-index: 3;
        animation: finish2 3s infinite;
      }
      .myorder-status-ball-finish:nth-child(2) {
        animation-delay: 0.5s;
        opacity: 0;
      }
      .myorder-status-ball-finish:nth-child(3) {
        animation-delay: 1s;
        opacity: 0;
      }
      .myorder-status-ball-finish:nth-child(4) {
        animation-delay: 1.5s;
        opacity: 0;
      }
      .myorder-status-ball-finish:nth-child(5) {
        animation-delay: 2s;
        opacity: 0;
      }
      .myorder-status-ball-finish:nth-child(6) {
        animation-delay: 2.5s;
        opacity: 0;
      }
    }

    .myorder-box-making {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .myorder-status-paid {
      margin-bottom: 10px;
      animation: blink 2s infinite;
    }
  }
  .myorder-box-made {
    display: flex;
    flex-direction: column;
    align-items: center;
    div:nth-child(2) {
      margin-top: 3px;
      font-size: 1.3rem;
      color: #ec6725;
      @keyframes blink2 {
        0% {
          opacity: 0.2;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.2;
        }
      }
      animation: blink2 2s infinite;
    }
  }
}

.menu-container {
  overflow: scroll;
  height: 100px;
}
