.myorder-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  .myorder-nothing{
    .myorder-nothing-cry{
      background-image: url("https://cdn4.iconfinder.com/data/icons/smileys-for-fun/128/smiley__21-512.png");
      background-size:cover;
      width: 80vw;
      height: 400px;
      
    }
    .myorder-nothing-empty{

    }
    .myorder-nothing-uu{

    }
  }
}
