.cartform-container {
  width: 80%;
  height: 100vh;
  background-color: #f6f5f0;
  margin: 30px;
  font-size: 1rem;
  padding-top: 50px;

  .cartform-title {
    justify-content: flex-start;
    font-size: 1.3rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.8);
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .cartform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cartform-total {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 30px;
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid 1px rgba(0, 0, 0, 0.8);
    div {
      width: 150px;
      height: 50px;
      padding-left: 30px;
    }
    .cartform-total-price {
      padding-left: 50px;
    }
  }
  .cartform-list {
    width: 100%;
  }
  button {
    margin-top: 80px;
    width: 150px;
  }
}
