.cartform-list-item {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  width: 90%;
  height: 50px;
  font-size: 1rem;
  .cart-item-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  button {
    padding: 0;
    margin-left: 10px;
    margin-top: 0px;
    height: 20px;
    width: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  label {
  }
}
