@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Oswald|Nanum+Gothic|Roboto&display=swap');
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  width: 100vw;
  padding: 0;
  margin: 0;
}

input {
  border: 1px solid #999;
  border-radius: 5px;
  outline-style: none;
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
  text-align: center;
}

button {
  appearance: none;
}
