.menuListItem {
  display: inline-block;
  margin: 30px 10px;
  width: 267px;
  @media (max-width: 600px) {
    width: 80%;
    min-width: 160px;
  }
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  // border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  .img-area {
    width: 100%;
    height: 278px;
    @media (max-width: 600px) {
      height: 240px;
    }
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    img {
      cursor: pointer;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
    img:hover {
      width: 100%;
      height: 100%;
      -webkit-transform: scale(1.1, 1.1);
      transition: transform 1s;
      transition-property: -webkit-transform;
      transition-duration: 1s;
      transition-timing-function: ease;
      transition-delay: 0s;
      -webkit-transition: -webkit-transform 1s;
    }
  }

  .info-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    padding-left: 15px;
    font: {
      size: 1rem;
    }
    .title {
      color: rgba(0, 0, 0, 0.9);
      font-size: 1.3rem;
      margin-bottom: 7px;
    }

    .price {
      text-align: right;
      color: #fe6600;
      font-weight: 800;
    }
  }
}
