.menuDetailContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  display: none;
}

.menuDetailContainer::after {
  content:'';
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 19;
}

.menuDetail {
  border: 6px solid #222f3e;
  border-radius: 10px;
  width: 650px;
  height: 350px;
  padding: 0;
  z-index: 20;
  background-color: #fff;
  position: relative;

  aside {
    width: 45%;
    float: left;
    height: 100%;

    .img-area {
      width: 200px;
      height: 210px;
      margin: 0 auto;
      margin-top: 40px;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  main {
    width: 55%;
    float: left;
    height: 100%;

    .closeBtn {
      width: 20px;
      height: 20px;
      position: absolute;
      cursor: pointer;
      border: none;
      background: none;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: gray;
    }

    .titleArea {
      height: 20%;
      .title {
        display: block;
        margin-top: 20px;
        vertical-align: middle;
        font: {
          size: 24px;
          weight: 600;
        }
      }
    }

    .informationArea {
      height: 55%;
      position: relative;

      .price {
        position: absolute;
        right: 25px;
        font: {
          size: 30px;
        }
      }

      .information {
        padding: 10px;
        width: 250px;
        font: {
          size: 14px;
        }
      }
    }
    .cart-added{
      position: absolute;
      bottom:90px;
      left:100px;
      color:red;
      opacity:0.8;
    }
    .btnArea {
      height: 20%;
      width: 80%;
      margin: 0 auto;
      .buyBtn {
        display: inline-block;
        width: 40%;
        height: 40px;
        border: none;
        border-radius: 0;
        background: none;
        color: white;
        cursor: pointer;
        background-color: rgb(254, 102, 0);
        margin: 0 10px;
      }
      .cartBtn {
        @extend .buyBtn;
        background-color: rgb(34, 32, 32);
      }
    }
  }
}

@media (max-width: 900px) {
  .menuDetail {
    width: 90%;
    height: 80%;
    aside {
      float: inherit;
      display: block;
      width: 100%;
      margin: 0 auto;
      height: 210px;

      .img-area {
        width: 100%;
        margin-top: 0px;
      }
    }
    main {
      float: inherit;
      display: block;
      width: 100%;
      height: auto;
      padding: 0 20px;
      .closeBtn {
        color: #fff;
      }
      .titleArea {
        height: auto;
      }
      .informationArea {
        height: auto;
        .price {
          top: -40px;
          right: 0;
        }
      }
      .btnArea {
        width: 90%;
        position: absolute;
        height: auto;
        display: block;
        bottom: 15px;
        display: flex;
        justify-content: space-around;
        .buyBtn {
          margin: 0;
        }
      }
      
    }
  }
}
