.paginationBtn {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background-color:#222f3e;
  cursor: pointer;
}

.paginationBtn + .paginationBtn {
  margin-left: 10px;
}

.paginationBtn.active {
  background-color: #f96503;
  color: #fff;
}