.payform-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 350px;
  min-height: 700px;
  height: 100%;
  padding-bottom: 80px;
  // background-color: #f6f5f0;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 30px;
  padding-top: 20px;
  .payform-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .payform-title {
    justify-content: flex-start;
    font-size: 1.5rem;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 6%;
  }
  .payform-column {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    border-top: solid 2px #222f3e;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
      height: 30px;
      width: 5%;
    }
    div:nth-child(2) {
      width: 45%;
    }
    div:nth-child(3) {
      position: relative;
      right: -5px;
      width: 45%;
    }
  }

  .payform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 90%;
  }
  .payform-row {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    .payform-row-buttons {
      display: flex;
      width: 60%;
      justify-content: center;
      text-align: center;
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.8);
      @media (max-width: 400px) {
        flex-direction: column;
        font-size: 0.9rem;
      }

      .payform-pointPay-checked {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fe6600;
        color: white;
        border-radius: 30px;
        padding: 5px;
        padding-left: 6px;
        padding-right: 6px;
        width: 30%;
        margin-right: 20px;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
        @media (max-width: 400px) {
          width: 90%;
          margin-bottom: 10px;
        }
      }
      .payform-pointPay-unchecked {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        width: 30%;
        padding: 5px;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 20px;
        &:hover {
          opacity: 0.5;
        }
        @media (max-width: 400px) {
          width: 90%;
          margin-bottom: 10px;
        }
      }
      .payform-cashPay-checked {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fe6600;
        color: white;
        border-radius: 30px;
        width: 30%;
        padding: 5px;
        padding-left: 6px;
        padding-right: 6px;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
        @media (max-width: 400px) {
          width: 90%;
        }
      }
      .payform-cashPay-unchecked {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 30px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        width: 30%;
        padding: 5px;
        padding-left: 6px;
        padding-right: 6px;

        &:hover {
          opacity: 0.5;
        }
        @media (max-width: 400px) {
          width: 90%;
        }
      }
    }

    .payform-row-title {
      width: 40%;
      text-align: center;
    }
    .payform-total-price {
      text-align: center;
      width: 60%;
    }
  }
  .payform-list {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.8);
  }

  button {
    width: 170px;
    height: 40px;
    font-size: 1.2rem;
  }
  .payform-point_container {
    margin-top: 20px;
    width: 100%;
    div {
      font-size: 1.3rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 5px;
      div:nth-child(1) {
        width: 40%;
        text-align: left;
      }
      div:nth-child(2) {
        position: relative;
        left: 10px;
        display: flex;
        justify-content: center;
        width: 60%;
      }
    }
  }
}
