.payment-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    .payment-title {
      font-size: 1.6rem;
      margin-top: 40px;
      margin-left: 12%;
    }
    .payment-container {
      display: flex;
      justify-content: center;
    }
  }
  