.userinfo_section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  .userinfo_wrapper {
    border: solid 0.5px rgba(0, 0, 0, 0.3);
    width: 80%;
    padding: 30px;
    border-radius: 6px;

    .userinfo_title_myinfo {
      border-bottom: solid 1px rgba(0, 0, 0, 0.3);
      font-size: 1.3rem;
      font-weight: 800;
      min-width: 100px;
      width: 18%;
      padding: 20px;
      margin-bottom: 30px;
    }
    .userinfo_title_history {
      border-bottom: solid 1px rgba(0, 0, 0, 0.3);
      font-size: 1.3rem;
      font-weight: 800;
      min-width: 100px;
      width: 100%;
      padding: 20px;
      margin-bottom: 30px;
    }
  }
}
