.AdminMemberManagePresenter {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  @media (max-width: 414px) {
    width: 90%;
  }
  position: relative;
  .memberManageListTitle {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    height: 50px;
  }
  .SearchBar {
    position: absolute;
    top: 0;
    right: 0;
  }

  .pageTitle {
    font: {
      size: 20px;
      weight: 600;
    }
  }
  .memberManageList {
    position: relative;
    margin-top: 30px;
  }
}
