.MenuManagePopupContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  pointer-events: all;
}

.MenuManagePopupContainer::after {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 19;
}

.MenuManagePopup {
  position: relative;
  padding: 20px 30px;
  background-color: #fff;
  z-index: 20;
  border: 1px solid black;
  width: 400px;
  height: 330px;
  h1 {
    margin: 0 0 20px;
  }
  .closeBtn {
    position: absolute;
    right: 5px;
    top: 5px;
    color: gray;
    border: none;
    cursor: pointer;
    font: {
      size: 20px;
      weight: 800px;
    }
  }

  .MenuManageForm {
    .areaTitle {
      display: inline-block;
      width: 30%;
    }

    .inputArea {
      margin-bottom: 10px;
      input {
        width: 70%;
      }
      textarea {
        width: 70%;
      }
      .previewImgWrap {
        width: 60px;
        height: 60px;
        position: relative;
        text-align: right;
        margin: 10px 10px 0 0;
        float: right;

        img {
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      input[type='number']::-webkit-outer-spin-button,
      input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .submitPopup {
      cursor: pointer;
      position: absolute;
      bottom: 20px;
      left: 60px;
      border: none;
      margin: 0 auto;
      height: 30px;
      border-radius: 5px;
      background-color: rgb(255, 103, 0);
      color: #fff;
      font: {
        size: 14px;
      }
    }
  }
  .informationArea {
    display: flex;
    align-items: flex-start;
  }
}
